.page-header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-primary);
}

.top-bar-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    color: var(--color-text-in-primary);
    padding: 1.6rem 0;
}

.top-bar-container a {
    height: 3.2rem;
    transition: opacity .5s;
}

.top-bar-container a:hover {
    opacity: 0.6;
}

.back-icon {
    width: 4rem;
}

.logo {
    width: 8rem;
}

.title-container {
    width: 90%;
    margin: 0 auto;
    position: relative;
    margin: 3.2rem auto;
}

.title-container h2 {
    font: 700 3.6rem Archivo;
    line-height: 4.2rem;
    color: var(--color-title-in-primary);
}

@media(min-width:700px){
    .page-header {
        height: 240px;
    }

    .page-header .top-bar-container {
        max-width: 1100px;
    }

    .page-header .title-container {
        flex: 1;
        max-width: 740px;
        margin: 0 auto;
        padding-bottom: 48px;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
    }

    .page-header .title-container h2 {
        max-width: 350px;
    }
}